@font-face {
  src: url("fonts/regular.ttf");
  font-family: "Condense";
  font-weight: normal;
}
@font-face {
  src: url("fonts/medium.ttf");
  font-family: "Condense";
  font-weight: bold;
}

body,button {
  font-family: Condense;
}

body {
  background-color: black;
  background-image: url("chapImg/1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  color: white;
}

.lockedParagraph {
  color: red;
}

nav {
  display: flex;
  position: fixed;
  bottom: 10px;
}
nav div {
  padding: 7px 12px;
  margin-right: 5px;
  background: #444;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.storyControl, .evoControl {
  position: fixed;
  text-align: center;
  top: 0;
  padding: 10px 0px 10px 0px;
  width: 95%;
  background: #000000C0;
  backdrop-filter: blur(4px);
}

.blankOver {
  padding: 18px;
}

div#resources,
div#evolution,
div#story {
  padding-bottom: 10px;
}

div#intellect {
  display: flex;
  border: 2px solid #1976d2;
  padding: 5px;
  border-radius: 10px;
}

#chapSel {
  margin: 0px 10px;
}

dialog {
  width: 300px;
  animation: open 0.3s;
  border: none;
  border-radius: 10px;
  padding: 0;
}
.title {
  background: #4200FF;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
#okbutton1b {
  margin: 10px;
}
#message1b {
  margin: 10px;
}
dialog::backdrop {
  animation: appear 0.5s;
  backdrop-filter: blur(4px);
}
@keyframes open {
  0% {
    filter: blur(4px);
    scale: 1.07;
    opacity: 0%;
  }
  100% {
    filter: blur(0px);
    scale: 1.0;
    opacity: 100%;
  }
}

@keyframes appear {
  0% {opacity: 0%;backdrop-filter: blur(0px)}
  100% {opacity: 100%;backdrop-filter: blur(4px)}
}

@keyframes toast {
  0% {transform: scale(2,2) translateY(-0px);opacity:100%;filter: blur(5px)}
  8% {transform: scale(1,1) translateY(-10px);filter: blur(0px)}
  80% {transform: scale(1,1) translateY(-20px);filter: blur(0px);opacity:100%}
  99.99% {opacity: 0%; transform: translateY(-20px)}
  100% {
    transform: translateY(999px)
  }
}

.dev {
  opacity: 20%;
}
.intebtn {
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: bold;
}

#intecool,#intecount {
  padding: 5px 10px;
}
#intebar, #intebar12 {
  width: 43%;
  background: #1976d288;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 5px;
}
#intebar2, #intebar22 {
  background: #1976d2ff;
  padding: 5px 0px;
  width: 0%;
  height: 100%;
  transition: 50ms;
}
.evo {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  text-align: center;
  width: 100px;
}
.evo button {
  border-radius: 5px;
  border: none;
  padding: 3px;
  margin-top: 2px;
}
.evointe {
  background: #1976d288;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px; 
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.toast {
  position: fixed;
  opacity: 0;
  top: 100px;
  left: 20%;
  right: 20%;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  background: #222222cc;
  animation: toast 5s;
  backdrop-filter: blur(4px);
  transform: translateY(999px);
}
[showed="yes"] {
  
}
[showed="no"]{
  display: none;
}
.templeSpirit {
  margin-top: 10px;
  padding-top: 6px;
  padding: 6px 5px 5px 5px;
  border-radius: 12px;
  background: #6d4c41;
  text-align: center;
}
.totsBody {
  text-align: left;
  margin-top: 5px;
  background: #ffffff;
  border-radius: 7px;
  min-height: 50px;
  padding: 5px;
  color: black;
}
#loadingScreen {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
}